.donatenow {
  width: 100%;
  margin: 0 auto;
}

.donatenow-conatainer {
  width: 95%;
  margin: 0 auto;
}
.donatenow-content {
  width: 90%;
  text-align: center;
  margin: 5rem auto;
}
.donatenow-content h1 {
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.donatenow-content h1 span{
  color: #0095ff;
}
.donatenow-content p {
  width: 918px;
  height: 111px;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 2rem auto;
  line-height: 37px;
  margin-bottom: 3rem;
}
.donatenow-content .doNow-btn {
  padding: 12px 50px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
}

.dn-gallery {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 5rem auto;
}

.dngall {
  width: 240px;
  margin: 1rem auto;
}
.dngall img {
  width: 100%;
}
.donatenow-center {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.donatenow-center h1 {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 700;
}
.donatenow-center p {
  font-size: 20px;
  margin-bottom: 4rem;
}
.donatenow-center .doNow-btn {
  font-size: 36px;
  padding: 20px 50px;
  font-weight: 700;
  background: #0699ff;
  color: #fff;
  font-style: italic;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.donatenow-center .doNow-btn span {
  color: #ffb600;
}

.donation-container {
  display: flex;
  width: 95%;

  align-items: center;
  margin: 1rem auto;
  flex-wrap: wrap;
}
.donation-container .donation-left {
  width: 600px;
}
.donation-container .donation-left h2 {
  font-size: 32px;
  line-height: 49px;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;

}
.donation-container .donation-left p {
  font-size: 16px;
  margin-bottom: 2rem;
  width: 587px;
  font-weight: 400;
  line-height: 24px;
  line-height: 24px;
}
.donation-container .donation-left h2 span {
  color: #ff90b2;
}
.donation-container .donation-left .doNow-btn {
  padding: 14px 60px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  border: none;
  color: #fff;
  background: #000000;
}
.donation-container .counter {
  width: 650px;
  display: flex;
  gap: 10px;
  margin-bottom: 3rem;
}
.donation-container .counter .row-counter {
  width: 214px;
  height: 110px;
  border: 1.3px solid #ccc;
  border-radius: 5px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donation-container .counter .row-counter h1 {
  font-size: 24px;
  text-align: center;
}
.donation-container .counter .row-counter h1 span {
  font-size: 13px;
}
.donate-card-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  position: relative;
}
.donate-card-container .backimage {
  position: absolute;
  right: -122px;
  top: 20px;
  width: 220px;
  z-index: -10;
}
.donate-card-container .backimage img {
  width: 100%;
}

.dn-card {
  margin: 0 auto;
  width: 500px;
  height: 100px;
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.3s ease;
}

.dn-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.dn-icon {
  background: #0699ff;
  padding: 15px;
  display: flex;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.dn-icon img {
  width: 24px;
  height: 24px;
}


 .dn-text h1 {
 font-size: 24px;
 margin-left: 40px;
 font-weight: 600;
 font-style: italic;
}

@media screen and (max-width: 1024px) {
  .card-container {
    max-width: 100%;
    padding: 10px;
  }
  .donatenow {
    width: 100%;
    margin: 0 auto;
  }

  .donatenow-conatainer {
    width: 95%;
    margin: 0 auto;
  }
  .donatenow-content {
    width: 345px;
    text-align: center;
    margin: 2rem auto;
  }
  .donatenow-content h1 {
    font-size: 18px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .donatenow-content span {
    color: rgba(6, 153, 255, 1);
  }
  .donatenow-content p {
    width: 320px;
    height: 57px;
    font-size: 10px;
    font-weight: 600;
    margin: 1rem auto;
  }
  .donatenow-content .doNow-btn {
    padding: 12px 30px;
    font-size: 10px;
    border-radius: 5px;
  }

  /* ------------------ */
  .donatenow-center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .donatenow-center h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .donatenow-center p {
    font-size: 9px;
    margin-bottom: 4rem;
  }
  .donatenow-center .doNow-btn {
    font-size: 18px;
    padding: 20px 20px;
  }

  /* -------------- */
  .donation-container {
    width: 370px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .donation-container .donation-left {
    width: 370px;
  }
  .donation-container .donation-left h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .donation-container .donation-left p {
    font-size: 11px;

    width: 320px;
    line-height: 24px;
    text-align: center;
    margin: 2rem auto;
  }

  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
  .donation-container .counter {
    width: 370px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3rem;
  }
  .donation-container .counter .row-counter {
    border: 1px solid #00000066;
    margin: 0 auto;
  }

  /* ---------- */
  .donate-card-container {
    width: 370px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    position: relative;
  }
  .donate-card-container .backimage {
    position: absolute;
    right: -217px;
    top: -40px;
    width: 180px;
  }
  .donate-card-container .backimage img {
    width: 100%;
  }
  .card {
    width: 270px;
    height: 58px;
    padding: 5px;
    border-radius: 4px;
  }
  .icon {
    background: #0095ff;
    padding: 20px;
    display: flex;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 30px;
    height: 30px;
  }
  .icon img {
    width: 20px;
    height: 20px;
  }
  .card .text {
    width: 150px;
    height: 40px;
    margin-left: 8px;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .card .text h1 {
    font-size: 8px;
    font-style: italic;
  }
  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    max-width: 100%;
    padding: 10px;
  }
  .donatenow {
    width: 100%;
    margin: 0 auto;
  }

  .donatenow-conatainer {
    width: 95%;
    margin: 0 auto;
  }
  .donatenow-content {
    width: 345px;
    text-align: center;
    margin: 2rem auto;
  }
  .donatenow-content h1 {
    font-size: 18px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .donatenow-content span {
    color: rgba(6, 153, 255, 1);
  }
  .donatenow-content p {
    width: 320px;
    height: 57px;
    font-size: 10px;
    font-weight: 600;
    margin: 1rem auto;
  }
  .donatenow-content .doNow-btn {
    padding: 12px 30px;
    font-size: 10px;
    border-radius: 5px;
  }

  /* ------------------ */
  .donatenow-center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .donatenow-center h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .donatenow-center p {
    font-size: 9px;
    margin-bottom: 4rem;
  }
  .donatenow-center .doNow-btn {
    font-size: 18px;
    padding: 20px 20px;
  }

  /* -------------- */
  .donation-container {
    width: 370px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .donation-container .donation-left {
    width: 370px;
  }
  .donation-container .donation-left h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .donation-container .donation-left p {
    font-size: 11px;

    width: 320px;
    line-height: 24px;
    text-align: center;
    margin: 2rem auto;
  }

  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
  .donation-container .counter {
    width: 370px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3rem;
  }
  .donation-container .counter .row-counter {
    border: 1px solid #00000066;
    margin: 0 auto;
  }

  /* ---------- */
  .donate-card-container {
    width: 370px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
  }
  .donate-card-container .backimage {
    position: absolute;
    right: -200px;
    top: -40px;
    width: 180px;
  }
  .donate-card-container .backimage img {
    width: 100%;
  }
  .card {
    width: 270px;
    height: 58px;
    padding: 5px;
    border-radius: 4px;
  }

  .icon {
    background: #0095ff;
    padding: 20px;
    display: flex;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 30px;
    height: 30px;
  }

  .icon img {
    width: 20px;
    height: 20px;
  }

  .card .text {
    width: 150px;
    height: 40px;
    margin-left: 8px;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .card .text h1 {
    font-size: 8px;
    font-style: italic;
  }
  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
}
@media screen and (max-width: 480px) {
  .card-container {
    max-width: 100%;
    padding: 10px;
  }

  .donatenow {
    width: 100%;
    margin: 0 auto;
  }

  .donatenow-conatainer {
    width: 95%;
    margin: 0 auto;
  }
  .donatenow-content {
    width: 345px;
    text-align: center;
    margin: 2rem auto;
  }
  .donatenow-content h1 {
    font-size: 18px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .donatenow-content span {
    color: rgba(6, 153, 255, 1);
  }
  .donatenow-content p {
    width: 320px;
    height: 57px;
    font-size: 10px;
    font-weight: 600;
    margin: 1rem auto;
  }
  .donatenow-content .doNow-btn {
    padding: 12px 30px;
    font-size: 10px;
    border-radius: 5px;
  }

  /* ------------------ */
  .donatenow-center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .donatenow-center h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .donatenow-center p {
    font-size: 9px;
    margin-bottom: 4rem;
  }
  .donatenow-center .doNow-btn {
    font-size: 18px;
    padding: 20px 20px;
  }

  /* -------------- */
  .donation-container {
    width: 370px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .donation-container .donation-left {
    width: 370px;
  }
  .donation-container .donation-left h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .donation-container .donation-left p {
    font-size: 11px;

    width: 320px;
    line-height: 24px;
    text-align: center;
    margin: 2rem auto;
  }

  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
  .donation-container .counter {
    width: 370px;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 3rem;
  }
  .donation-container .counter .row-counter {
    border: 1px solid #00000066;
    margin: 0 auto;
  }

  /* ---------- */
  .donate-card-container {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
  }
  .donate-card-container .backimage {
    position: absolute;
    right: -10px;
    top: 90px;
    width: 70px;
  }
  .donate-card-container .backimage img {
    width: 100%;
  }
  .card {
    width: 170px;
    height: 58px;
    padding: 5px;
    border-radius: 4px;
  }

  .icon {
    background: #0095ff;
    padding: 20px;
    display: flex;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 30px;
    height: 30px;
  }

  .icon img {
    width: 20px;
    height: 20px;
  }

  .card .text {
    width: 150px;
    height: 40px;
    margin-left: 8px;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .card .text h1 {
    font-size: 8px;
    font-style: italic;
  }
  .donation-container .donation-left .doNow-btn {
    padding: 12px 40px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background: #000000;
  }
}
