.donate{
    width: 100%;
}
.donate-container{
    width: 100%;
    margin: 0 auto;
}
.top-gallery{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem auto;
}

.tgall{
    width: 250px;
    margin: 1rem auto;
}
.tgall img{
    width: 100%;
}
.donate-text{
    width: 100%;
    height: 400px;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.donate-text h2{
    width: 70%;
    text-align: center;
    margin: 3rem auto; 
    font-size: 40px; 
    font-weight: 800;
    text-transform: uppercase; 
    font-style: italic; 
    
}
.donate-text p{
    width: 90%;
    text-align: center;
    margin: 3rem auto; 
    font-size: 24px; 
    font-weight: 600;
    line-height: 37px;  
    text-transform: capitalize;
    
}
.donate-text .donate-btn{
    padding: 10px 60px ;   
    font-size: 24px; 
    text-transform: capitalize;
    background: #000000;
    color: #fff;
    margin-top: 1.8rem;
    border-radius: 15px;
}


@media screen and (max-width : 1024px) {
    
}
@media screen and (max-width : 768px) {
    .tgall{
        width: 320px;
        margin: 1rem auto;
    }
    .donate-text{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .donate-text h2{
        width: 70%;
        text-align: center;
        margin: 1rem auto; 
        font-size: 1px;   
        
    }
    .donate-text p{
        width: 95%;
        margin: 1rem auto; 
        font-size: 14px; 
        line-height:25px;  
        
    }
    .donate-text .donate-btn{
        padding: 10px 30px ;   
        margin-top: 1rem;
        border-radius: 5px;
    }
    .cardgrid{
        width: 100%;
        margin: 4rem auto;
    }
}
@media screen and (max-width : 480px) {
    .donate-text{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .donate-text h2{
        width: 90%;
        text-align: center;
        margin: .8rem auto; 
        font-size: 14px; 
        font-weight: 800;  
        
    }
    .donate-text p{
        width:84%;
        margin: 1rem auto; 
        font-size: 10px; 
        line-height:18px; 
        font-weight: 600; 
        
    }
    .donate-text .donate-btn{
        padding: 10px 40px ;   
        font-size: 12px; 

    }
    .cardgrid{
        width: 100%;
        margin: 4rem auto;
    }
    .tgall1{
        display: none;
    }
    .tgall{
        width: 230px;
        margin: 1rem auto;
    }
    .top-gallery{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        margin: 3rem auto;
    }
}